[submodule "asciidoctor-backends"]
	path = asciidoctor-backends
	url = git@github.com:asciidoctor/asciidoctor-backends.git
[submodule "dzslides"]
	path = dzslides
	url = git@github.com:mojavelinux/dzslides.git
